* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

#root {
  width: 100%;
  height: 100%;
  background-color: white;
}

/* header */
#navbar{
  background-color: white;
}
.ss-logo{
  height: 125px;
}

.menu-items{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f8f9fa;
}
.sign{
  display: flex;

  background-color: #f8f9fa;
}

.nav-item-spacing{
  margin-right: 40px;
}

/* Home */
#title-section{
  width: 100%;
  height: 65vh;

}

.title-line{
  font-weight: bold;
  font-size: 60px;
  padding-left: 50px;
  margin-left: 125px;
  margin-top: 100px;
}
.title-btn{
  margin-left: 140px;
  margin-top: 80px;
}

.pp-question{
  text-align: center;
}

.pp-answer{
  text-align: center;
}

#benefits-and-success{
  width: 100%;
  height: 40vh;
}
#pain-point{
  width: 100%;
  height: 80vh;
}
#benefits-and-success {
  display: flex;
  justify-content: space-between; /* Adjusts spacing between items */
  margin: 20px 0; /* Optional margin for spacing */
}

.benefit {
  flex: 1; /* Allows each benefit to take up equal space */
  padding: 10px; /* Optional padding for better spacing */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Optional shadow for a modern look */
  border-radius: 5px; /* Optional rounded corners */
  background-color: #f9f9f9; /* Optional background color */
  margin: 0 10px; /* Optional margin between benefits */
  text-align: center;
  margin-left: 50px;
  margin-right: 50px;
}
@media (max-width: 768px) {
  #benefits-and-success {
      flex-direction: column; /* Stack items vertically on smaller screens */
      padding-bottom: 1200px;
  }
}
.benefit-pic{
  height: 200px;
  margin-bottom: 25px;
}
#how-it-works {
  display: grid;
  justify-content: center; /* Centers the entire grid */
  text-align: center;
  margin-top: 50px; /* Optional: Adjust the top margin */
}

.step {
  display: grid;
  justify-items: center; /* Centers content horizontally inside each grid cell */
  margin: 20px; /* Space around each step */
}

.hiw-pic {
  max-width: 100%; /* Ensures the image doesn't overflow */
  margin-bottom: 15px; /* Adds space between the image and the text */
  justify-self: center; /* Centers the image horizontally */
  height: 200px;
}
.hiw-header{
  padding-bottom: 50px;
  padding-top: 200px;
}